<h2>Pielęgniarki</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">L.p</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">PESEL</th>
        <th scope="col">Numer telefonu</th>
        <th scope="col">Email</th>
        <th scope="col">Więcej</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.secondName}}</td>
        <td>{{user.pesel}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.email}}</td>
        <td><button routerLink="/users/{{user.id}}" type="button" class="btn btn-primary mr-1">Więcej</button>
        <button type="button" class="btn btn-danger">Usuń</button></td>
      </tr>
    </tbody>
  </table>