<div class="card">
    <div class="card-header">
        <form [formGroup]="appointmentSearchForm" (ngSubmit)="getAppointments()">
            <div class="row">
                <div class="col-sm-2">
                    Zapisz na wizytę
                </div>

                <div class="form-group col-sm-4">
                    <select class="form-control" formControlName="departmentName">
                        <option value="">Oddział</option>
                        <option *ngFor="let department of departments" value="{{department.name}}">
                            {{department.name}}</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <select class="form-control" formControlName="doctorId">
                        <option value="">Lekarz</option>
                        <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.firstName}}
                            {{doctor.secondName}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <button class="btn btn-primary">Pokaż</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive-md overflow-auto">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <button class="btn btn-primary" (click)="previous()">Wstecz</button>
                    </th>
                    <th scope="col">Pon <br>{{monday | date:'dd-MM'}}</th>
                    <th scope="col">Wt <br>{{tuesday | date:'dd-MM'}}</th>
                    <th scope="col">Śr <br>{{wednesday | date:'dd-MM'}}</th>
                    <th scope="col">Czw <br>{{thrusday | date:'dd-MM'}}</th>
                    <th scope="col">Pt <br>{{friday | date:'dd-MM'}}</th>
                    <th scope="col">Sob <br>{{saturday | date:'dd-MM'}}</th>
                    <th scope="col">
                        <button class="btn btn-primary" (click)="next()">Dalej</button>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-2"></td>
                    <td class="col-2">
                        <div *ngFor="let appointment of mondays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                    <td class="col-2">
                        <div *ngFor="let appointment of tuesdays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                    <td class="col-2">
                        <div *ngFor="let appointment of wednesdays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                    <td class="col-2">
                        <div *ngFor="let appointment of thrusdays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                    <td class="col-2">
                        <div *ngFor="let appointment of fridays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                    <td class="col-2">
                        <div *ngFor="let appointment of saturdays">
                            <button class="btn btn-primary mt-2 col-12" (click)=addMeToAppointment(appointment.id)>
                                {{appointment.date | date:'HH:mm'}}
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>