<ul class="list-group sticky-top sticky-offset">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>MAIN MENU</small>
    </li>

<!--#region UŻYTKOWNICY  -->
    <a routerLink="users" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-users fa-fw mr-3"></span> <!-- Icon -->
            <span class="menu-collapsed">Użytkownicy</span> <!-- Text -->
            <span class="submenu-icon ml-auto"></span> <!-- Icon arrow  -->
        </div>
    </a>
<!--#endregion -->
<!--#region WIZYTY  -->
    <a routerLink="appointments" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-calendar fa-fw mr-3"></span>
            <span class="menu-collapsed">Wizyty</span>
        </div>
    </a>
<!--#endregion  -->
<!--#region ODDZIAŁY  -->
    <a routerLink="/departments" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-building fa-fw mr-3"></span>
            <span class="menu-collapsed">Oddziały</span>
        </div>
    </a>
<!--#endregion-->
<!--#region GABINETY  -->
    <a routerLink="/medOffices" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-map-pin fa-fw mr-3"></span>
                <span class="menu-collapsed">Gabinety</span>
            </div>
    </a>
<!--#endregion-->               
<!--#region KONTRAKTY  -->
    <a routerLink="/contracts" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-book fa-fw mr-3"></span>
                <span class="menu-collapsed">Kontrakty</span>
            </div>
    </a>
<!--#endregion-->  
</ul>