<ul class="list-group sticky-top sticky-offset">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>MAIN MENU</small>
    </li>


<!--#region UŻYTKOWNICY  -->
    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-users fa-fw mr-3"></span> <!-- Icon -->
            <span class="menu-collapsed">Użytkownicy</span> <!-- Text -->
            <span class="submenu-icon ml-auto"></span> <!-- Icon arrow  -->
        </div>
    </a>
    <!-- Submenu content -->
    <div id="submenu1" class="collapse sidebar-submenu">
        <a routerLink="/users" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Wszyscy</span>
        </a>
        <a routerLink="/doctors"  class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Lekarze</span>
        </a>
        <a routerLink="/nurses"  class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Pielęgniarki</span>
        </a>
        <a routerLink="/patients" class="list-group-item list-group-item-action">
                <span class="menu-collapsed">Pacjenci</span>
        </a>
        <a routerLink="/roots"  class="list-group-item list-group-item-action">
                <span class="menu-collapsed">Administratorzy</span>
        </a>
    </div>
<!--#endregion -->
<!--#region WIZYTY  -->
    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-calendar fa-fw mr-3"></span>
            <span class="menu-collapsed">Wizyty</span>
        </div>
    </a>
<!--#endregion  -->
<!--#region ODDZIAŁY  -->
    <a routerLink="/departments" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-building fa-fw mr-3"></span>
            <span class="menu-collapsed">Oddziały</span>
        </div>
    </a>
<!--#endregion-->
<!--#region GABINETY  -->
    <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-map-pin fa-fw mr-3"></span>
                <span class="menu-collapsed">Gabinety</span>
            </div>
    </a>
<!--#endregion-->               
<!--#region KONTRAKTY  -->
    <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-book fa-fw mr-3"></span>
                <span class="menu-collapsed">Kontrakty</span>
            </div>
    </a>
<!--#endregion-->  
<!--#region RECEPTY  -->
    <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-clipboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Recepty</span>
            </div>
    </a>
<!--#endregion-->
<!--#region SKIEROWANIA  -->
    <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-clone fa-fw mr-3"></span>
                <span class="menu-collapsed">Skierowania</span>
            </div>
    </a>
<!--#endregion-->   
</ul>