<div class="row">
    <div class="col-4">
        <app-my-appointments></app-my-appointments>
    </div>
    <div class="col-md-8">
        <app-make-appointment></app-make-appointment>   
    </div>
</div>


            

        

    

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Moje recepty
            </div>
            <ul class="list-group list-group-flush overflow-auto">
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Moje skierowania
            </div>
            <ul class="list-group list-group-flush overflow-auto">
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
                <li class="list-group-item" >
                    Skierowanie nr 1
                </li>
            </ul>
        </div>
    </div>
    
</div>

