<div class="row">
<h2 class="col-sm-10">Wizyta</h2>
<div class="col-sm-2">
    <button class="btn btn-danger" routerLink="/doctorSite">Zakończ wizytę</button>
</div>
</div>

<h3>Dane osobowe pacjenta</h3>
<div class="row">
    <div class="col-md-4">
        Imię: {{appointment.patient?.firstName}}<br>
        Nazwisko: {{appointment.patient?.secondName}}<br>
        Pesel:{{appointment.patient?.pesel}}<br>
    </div>
    <div class="col-md-4">
        Email: {{appointment.patient?.email}}<br>
        Numer telefonu: {{appointment.patient?.phoneNumber}}<br>
    </div>
    <div class="col-md-4">
        Miejscowość: {{appointment.patient?.postCode}} {{appointment.patient?.city}}<br>
        Adres: {{appointment.patient?.street}} {{appointment.patient?.houseNumber}}<br>
        
 
    </div>
</div>

<h3>Dokumentacja wizyty</h3>

<div class="form-group">
    <label>Wywiad lekarski</label>
    <textarea class="form-control" rows="5"></textarea>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        Wystawianie recepty
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#prescriptionModal">Dodaj</button>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let prescription of prescriptions">
                  {{prescription.drugName}}
              </li>

            </ul>
          </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        Wystawianie skierowania
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#referralModel">Dodaj</button>
                        </div>
                    </div>
                </div>
              
            </div>
            <ul class="list-group list-group-flush" *ngFor="let referral of referrals">
              <li class="list-group-item">{{referral.treatment}}</li>
            </ul>
          </div> 
    </div>



</div>

<div class="modal" id="prescriptionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            Nazwa leku: <input type="text" class="form-control" [(ngModel)]="drug"><br>
            Zalecenia: <input type="text" class="form-control" [(ngModel)]="drugComments"><br>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="savePrescription()">Zapisz</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="referralModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            Nazwa leczenia: <input type="text" class="form-control" [(ngModel)]="treatment"><br>
            Zalecenia: <input type="text" class="form-control" [(ngModel)]="treatmentComments"><br>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="saveReferral()">Zapisz</button>
        </div>
      </div>
    </div>
  </div>
