<h3>Wszystkie oddziały</h3>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">L.p</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Numer telefonu</th>
          <th scope="col">Więcej</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{department.name}}</td>
          <td>{{department.phoneNumber}}</td>
          <td>
            <button routerLink="/departments/{{department.id}}" type="button" class="btn btn-primary mr-1">Więcej</button>
            <button type="button" class="btn btn-danger" (click)="deleteDepartment(department.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>