<h2>Użytkownicy</h2>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/users">Wszyscy użytkownicy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users/roots">Administratorzy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users/doctors">Lekarze</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users/nurses">Pielęgniarki</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users/patients">Pacjenci</a>
  </li>
</ul>
<router-outlet></router-outlet>