<h2 class="text-center text=primary" (ngSubmit)="register()" > Załóż konto</h2>
<hr>

<form [formGroup]="modelForm">
    <h4 class="text-center text=primary"> Dane osobowe</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Imię" formControlName="firstName">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Nazwisko" formControlName="secondName">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="PESEL" formControlName="pesel">
        </div>

    </div>
    <h4 class="text-center text=primary"> Dane kontaktowe</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Kod pocztowy" formControlName="postCode">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Miasto" formControlName="city">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Ulica" formControlName="street">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Nr budynku" formControlName="houseNumber">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Numer telefonu" formControlName="phoneNumber">
        </div>

    </div>
    <h4 class="text-center text=primary"> Dane konta</h4>
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Hasło" formControlName="password">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Potwierdź Hasło" formControlName="password2">
        </div>
    </div>


    <div class="form-group text-center">
        <button class="btn btn-success" type="submit" [disabled]="!modelForm.valid">Zarejestruj</button>
        <button class="btn btn-default" type="submit" (click)="cancel()">Anuluj</button>
    </div>

    
</form>